* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url("/assets/SCENE02\ -\ STATIQUE.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.character {
    width: 420px;
    height: 227px;
    background-image: url(/assets/Property\ 1=IDLE.png);
    background-size: contain;
    background-position-y: bottom;
    position: absolute;
    bottom: 110px;
    right: 1200px;
    background-repeat: no-repeat;
}

.hud {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.profile {
    background-image: url(/assets/Group\ 19.png);
    background-size: contain;
    /* background-position-y: top;
    background-position-x: left; */
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
}

.health {
    background-image: url(/assets/icon_vie.png);
    background-size: contain;
    /* background-position-y: top;
    background-position-x: left; */
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}