/* убираем отступы и границы у всех элементов, также учитываем padding и border в размерах элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; /* высота равна 100% от высоты экрана */
    position: relative; /* делаем body относительным контейнером */
}

.background {
    width: 100%; /* фон занимает 100% от ширины экрана */
    height: 100%; /* фон занимает 100% от высоты экрана */
    background-image: url("/assets/SCENE02\ -\ STATIQUE.png");
    background-size: cover; /* масштабируем фон, чтобы занимал весь экран */
    background-repeat: repeat-x; /* повторяем фон по горизонтали */
    background-position: 0 0; /* устанавливаем начальную позицию фона */
    position: relative; /* делаем фон относительным контейнером */
}

.character {
    width: 420px;
    height: 227px;
    background-image: url(/assets/Property\ 1=IDLE.png);
    background-size: contain; /* масштабируем фон, сохраняя пропорции */
    background-position-y: bottom; /* размещаем персонажа в нижней части блока */
    position: absolute; /* делаем character абсолютным относительно body */
    bottom: 110px; /* размещаем персонажа внизу экрана */
    right: 1200px; /* устанавливаем отступ справа */
    background-repeat: no-repeat; /* запрещаем повторение изображения */
    transition: transform 0.1s linear; 
    /* анимация смены направления персонажа (равномерная скорость на протяжении всей трансформации) */
}

.hud {
    display: flex;
    flex-direction: column; /* располагаем элементы в столбик */
    position: absolute;  /* делаем hud абсолютным относительно body */
    top: 20px;  /* устанавливаем отступ сверху */
    left: 20px; /* устанавливаем отступ слева */
    align-items: center; /* выравниваем элементы по центру */
}

.profile {
    background-image: url(/assets/Group\ 19.png);
    background-size: contain; /* масштабируем изображение, сохраняя пропорции */
    width: 120px;
    height: 120px;
    background-repeat: no-repeat; /* запрещаем повторение изображения */
}

.health {
    background-image: url(/assets/icon_vie.png);
    background-size: contain; /* масштабируем изображение, сохраняя пропорции */
    width: 40px;
    height: 40px;
    background-repeat: no-repeat; /* запрещаем повторение изображения */
    margin-bottom: 20px; /* устанавливаем отступ снизу */
}

.healthbar {
    width: 150px;
    height: 20px;
    background-color: red;
    border: 2px black solid;
    position: relative; /* делаем фон относительным контейнером */
    transition: width 0.3s ease-in-out; /* анимация изменения ширины */
}
